/.metadata/
!/.metadata/.plugins/org.eclipse.wst.server.core/
/.recommenders/
/build/
/target/
HV_SoftwarePackage/target/m2e-wtp/web-resources/META-INF/maven/HV_SoftwarePackage/HV_SoftwarePackage/pom.properties
HV_SoftwarePackage/target/m2e-wtp/web-resources/META-INF/MANIFEST.MF
HV_SoftwarePackage/target/m2e-wtp/web-resources/META-INF/MANIFEST.MF
HV_SoftwarePackage/target/m2e-wtp/web-resources/META-INF/maven/HV_SoftwarePackage/HV_SoftwarePackage/pom.properties
*.properties
HV_SoftwarePackage/target/m2e-wtp/web-resources/META-INF/maven/HV_SoftwarePackage/HV_SoftwarePackage/pom.properties
HV_SoftwarePackage/target/m2e-wtp/web-resources/META-INF/maven/HV_SoftwarePackage/HV_SoftwarePackage/pom.properties
HV_SoftwarePackage/target/m2e-wtp/web-resources/META-INF/maven/HV_SoftwarePackage/HV_SoftwarePackage/pom.properties
HV_SoftwarePackage/target/m2e-wtp/web-resources/META-INF/MANIFEST.MF
HV_SoftwarePackage/target/m2e-wtp/web-resources/META-INF/maven/HV_SoftwarePackage/HV_SoftwarePackage/pom.properties
