USE [master]
GO
/****** Object:  Database [DonationDB]    Script Date: 1/30/2023 5:57:40 AM ******/
CREATE DATABASE [DonationDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DonationDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\DonationDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DonationDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\DonationDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DonationDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DonationDB]
GO
/****** Object:  User [Amida]    Script Date: 1/30/2023 5:57:40 AM ******/
CREATE USER [Amida] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Donations]    Script Date: 1/30/2023 5:57:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Donations](
	[donation_id] [int] IDENTITY(1,1) NOT NULL,
	[donation_status] [nvarchar](1) NULL,
	[donation_title] [nvarchar](max) NULL,
	[donation_content] [nvarchar](max) NULL,
	[start_date] [date] NULL,
	[end_date] [date] NULL,
	[total_needed] [money] NULL,
	[use_yn] [nvarchar](1) NULL,
	[thumbnail] [varchar](255) NULL,
 CONSTRAINT [PK__Donation__296B91DC847C71F1] PRIMARY KEY CLUSTERED 
(
	[donation_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User_Donation]    Script Date: 1/30/2023 5:57:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User_Donation](
	[user_donation_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](30) NULL,
	[email] [nvarchar](30) NULL,
	[user_donation_status] [nvarchar](10) NULL,
	[donation_date] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[user_donation_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User_Donation_detail]    Script Date: 1/30/2023 5:57:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User_Donation_detail](
	[user_donation_id] [int] IDENTITY(1,1) NOT NULL,
	[donation_id] [int] NULL,
	[bank_name] [nvarchar](30) NULL,
	[bank_account] [nvarchar](10) NULL,
	[donation_amount] [money] NULL,
	[transaction_id] [nvarchar](16) NULL,
PRIMARY KEY CLUSTERED 
(
	[user_donation_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 1/30/2023 5:57:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[name] [nvarchar](30) NULL,
	[phone] [nvarchar](15) NULL,
	[email] [nvarchar](30) NOT NULL,
	[password] [nvarchar](30) NULL,
	[registration_date] [date] NULL,
	[user_role] [nvarchar](1) NULL,
	[status] [nvarchar](1) NULL,
 CONSTRAINT [PK__Users__AB6E616591C042E8] PRIMARY KEY CLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Donations] ON 

SET IDENTITY_INSERT [dbo].[Donations] OFF
GO
ALTER TABLE [dbo].[Donations] ADD  CONSTRAINT [df_use_yn]  DEFAULT ((1)) FOR [use_yn]
GO
ALTER TABLE [dbo].[User_Donation]  WITH CHECK ADD  CONSTRAINT [FK_User_Donation_Users] FOREIGN KEY([email])
REFERENCES [dbo].[Users] ([email])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[User_Donation] CHECK CONSTRAINT [FK_User_Donation_Users]
GO
ALTER TABLE [dbo].[User_Donation_detail]  WITH CHECK ADD  CONSTRAINT [FK_User_Donation_detail_Donations] FOREIGN KEY([donation_id])
REFERENCES [dbo].[Donations] ([donation_id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[User_Donation_detail] CHECK CONSTRAINT [FK_User_Donation_detail_Donations]
GO
ALTER TABLE [dbo].[User_Donation_detail]  WITH CHECK ADD  CONSTRAINT [FK_User_Donation_detail_User_Donation] FOREIGN KEY([user_donation_id])
REFERENCES [dbo].[User_Donation] ([user_donation_id])
GO
ALTER TABLE [dbo].[User_Donation_detail] CHECK CONSTRAINT [FK_User_Donation_detail_User_Donation]
GO
USE [master]
GO
