USE [master]
GO
/****** Object:  Database [DonationDB]    Script Date: 12/20/2022 1:51:25 PM ******/
CREATE DATABASE [DonationDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DonationDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\DonationDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DonationDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\DonationDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DonationDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DonationDB]
GO
/****** Object:  User [Amida]    Script Date: 12/20/2022 1:51:25 PM ******/
CREATE USER [Amida] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 12/20/2022 1:51:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[name] [nvarchar](30) NULL,
	[phone] [nvarchar](15) NULL,
	[email] [nvarchar](30) NOT NULL,
	[password] [nvarchar](30) NULL,
	[registration_date] [datetime] NULL,
	[account_role] [nvarchar](1) NULL,
 CONSTRAINT [PK_Account] PRIMARY KEY CLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cases]    Script Date: 12/20/2022 1:51:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cases](
	[case_id] [nvarchar](10) NOT NULL,
	[case_name] [text] NULL,
	[case_category] [nvarchar](30) NULL,
	[case_content] [text] NULL,
	[case_period] [nvarchar](2) NULL,
	[donation_count] [nvarchar](5) NULL,
	[total_donated] [money] NULL,
	[total_needed] [money] NULL,
 CONSTRAINT [PK_Cases] PRIMARY KEY CLUSTERED 
(
	[case_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Donation]    Script Date: 12/20/2022 1:51:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Donation](
	[name] [nvarchar](30) NULL,
	[email] [nvarchar](30) NULL,
	[donation_id] [nvarchar](5) NOT NULL,
	[donation_status] [nvarchar](10) NULL,
	[donation_date] [datetime] NULL,
 CONSTRAINT [PK_Donation] PRIMARY KEY CLUSTERED 
(
	[donation_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Donation_detail]    Script Date: 12/20/2022 1:51:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Donation_detail](
	[donation_id] [nvarchar](5) NOT NULL,
	[case_id] [nvarchar](10) NULL,
	[bank_name] [text] NULL,
	[bank_account] [nvarchar](15) NULL,
	[donation_amount] [money] NULL,
	[transaction_id] [nvarchar](16) NULL,
	[total_donation] [money] NULL,
 CONSTRAINT [PK_donation_detail] PRIMARY KEY CLUSTERED 
(
	[donation_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Account] ([name], [phone], [email], [password], [registration_date], [account_role]) VALUES (N'Chau Luu', N'0162-544-9897  ', N'bui.viet@phuong.ac.vn', N'0df0b64a', CAST(N'2022-11-10T00:00:00.000' AS DateTime), N'1')
INSERT [dbo].[Account] ([name], [phone], [email], [password], [registration_date], [account_role]) VALUES (N'Cong Nguyen', N'0123-314-0105  ', N'dan.chau@duong.ac.vn', N'd86972d8', CAST(N'2022-10-28T00:00:00.000' AS DateTime), N'1')
INSERT [dbo].[Account] ([name], [phone], [email], [password], [registration_date], [account_role]) VALUES (N'Tien Tuyet', N'097-855-3907   ', N'dang.tuong@giao.gov.vn', N'fc8db7ba', CAST(N'2022-12-02T00:00:00.000' AS DateTime), N'1')
GO
INSERT [dbo].[Cases] ([case_id], [case_name], [case_category], [case_content], [case_period], [donation_count], [total_donated], [total_needed]) VALUES (N'1', N'Chung tay quyên góp h? tr? mái che và sân tru?ng cho các em h?c sinh t?i vùng xa thu?c t?nh Bình Thu?n', N'Vì Tr? Em', N'', N'60', N'3', 18000000.0000, 37000000.0000)
INSERT [dbo].[Cases] ([case_id], [case_name], [case_category], [case_content], [case_period], [donation_count], [total_donated], [total_needed]) VALUES (N'10', N'Cùng góp Heo Vàng xây c?u dân sinh t?i Khu Qu?, xã Thu Cúc, huy?n Tân Son, t?nh Phú Th?', N'Ð?u Tu Co S? V?t Ch?t', N'', N'60', N'1', 15000000.0000, 90000000.0000)
INSERT [dbo].[Cases] ([case_id], [case_name], [case_category], [case_content], [case_period], [donation_count], [total_donated], [total_needed]) VALUES (N'11', N'Ðóng góp “M?t b?a sáng” vì d?ng v?t hoang dã có nguy co tuy?t ch?ng t?i Vi?t Nam', N'C?u Tr? Ð?ng V?t', N'', N'45', N'1', 5000000.0000, 50000000.0000)
GO
INSERT [dbo].[Donation] ([name], [email], [donation_id], [donation_status], [donation_date]) VALUES (N'Quyen Diem', N'han.buu@yahoo.com', N'1    ', N'completed ', CAST(N'2022-10-15T00:00:00.000' AS DateTime))
INSERT [dbo].[Donation] ([name], [email], [donation_id], [donation_status], [donation_date]) VALUES (N'Khoi Hoa', N'hai61@du.com', N'10   ', N'pending   ', CAST(N'2022-11-30T00:00:00.000' AS DateTime))
INSERT [dbo].[Donation] ([name], [email], [donation_id], [donation_status], [donation_date]) VALUES (N'Hung Sy', N'du.kieu@nguy.pro.vn', N'11   ', N'pending   ', CAST(N'2022-11-30T00:00:00.000' AS DateTime))
GO
INSERT [dbo].[Donation_detail] ([donation_id], [case_id], [bank_name], [bank_account], [donation_amount], [transaction_id], [total_donation]) VALUES (N'1', N'7', N'Vietcombank', N'69705104', 5000000.0000, N'FT18127951977601', 5000000.0000)
INSERT [dbo].[Donation_detail] ([donation_id], [case_id], [bank_name], [bank_account], [donation_amount], [transaction_id], [total_donation]) VALUES (N'10', N'4', N'TPBank', N'90813273', 7000000.0000, N'', 0.0000)
INSERT [dbo].[Donation_detail] ([donation_id], [case_id], [bank_name], [bank_account], [donation_amount], [transaction_id], [total_donation]) VALUES (N'11', N'5', N'Vietcombank', N'01165149', 10000000.0000, N'', 10000000.0000)
GO
ALTER TABLE [dbo].[Account] ADD  CONSTRAINT [df_account_role]  DEFAULT ((2)) FOR [account_role]
GO
ALTER TABLE [dbo].[Donation]  WITH CHECK ADD  CONSTRAINT [FK_Donation_Account] FOREIGN KEY([email])
REFERENCES [dbo].[Account] ([email])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Donation] CHECK CONSTRAINT [FK_Donation_Account]
GO
ALTER TABLE [dbo].[Donation_detail]  WITH CHECK ADD  CONSTRAINT [FK_Donation_detail_Cases] FOREIGN KEY([case_id])
REFERENCES [dbo].[Cases] ([case_id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Donation_detail] CHECK CONSTRAINT [FK_Donation_detail_Cases]
GO
ALTER TABLE [dbo].[Donation_detail]  WITH CHECK ADD  CONSTRAINT [FK_Donation_detail_Donation] FOREIGN KEY([donation_id])
REFERENCES [dbo].[Donation] ([donation_id])
GO
ALTER TABLE [dbo].[Donation_detail] CHECK CONSTRAINT [FK_Donation_detail_Donation]
GO
USE [master]
GO
