@charset "UTF-8";

	* {
		box-sizing: border-box;
	}
	
	body {
	  min-width: 576px; /* set the minimum width to 576 pixels */
	}	
			
	/* Apply the box-shadow to the button when it's clicked */
	  .glow {
	    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #32CD32 !important;	    
	  }
		
	/* Login page */
	.gradient-custom-2 {
		/* fallback for old browsers */
		background: #fccb90;
		/* Chrome 10-25, Safari 5.1-6 */
		background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
		/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
		background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
	}
	
	.loginForm{
		margin-top: 40%;
	}
	
	.login-form {
	    top: 35px;
	    position: relative;
	}
	
	#loginId{
		position: absolute;
    	padding-left: 30px;
	}
	
	.login-icon {
	    top: 15px;
	    left: 10px;
	    position: absolute;
	}
	
	#loginId_error{
		color: red;
	    position: inherit;
	    top: 60px;	
	}
	
	#loginPass{
		position: relative;
	    top: 100px;
	    padding-left: 30px;
	}	
		
	.loginPass-eye-icon {
	    position: relative;
	    left: 93%;
	    top: 60px;
	}
	
	.loginPass-icon {
	    position: relative;
	    top: 60px;
	    right: 12px;
	}
	
	#loginPass_error{
		color: red;
	    position: relative;
	    top: 75px;	 
	}
	
	.rightText{
		width: 100%;
	}
	
	.remember{
		margin-top: 100px;
	}
	
	@media (min-width: 992px) { 
		.rightForm{
    	    position: relative !important;
 			top: 5% !important; 			
	    }
	    .rightSide{    	    
   			display: flex;
   			padding-bottom: 25%;
    		padding-top: 25%;
	    }		
	}	
	
	@media (max-width: 992px) { 
		.rightSide{    	    
   			margin: 0 0.9rem;
	    }	
	}
	
	@media screen and (max-width: 991px) and (min-width : 768px) {	
	
		.gradient-custom-2 {
			border-top-right-radius: .3rem;
			border-bottom-right-radius: .3rem;			
		}
				
		.rightForm{
    	    position: relative !important;
 			top: 13% !important;
	    }
	    
	     .loginForm{
	    	margin-top: 15%;
	    }
	    
	    .pt-5, .py-5 {
		    padding-top: 3rem !important;
		}
	}
	
	@media screen and (max-width: 768px) and (min-width: 360px)  {
	    .rightForm{
	    	position: relative !important;
		    bottom: 15% !important;
		    padding-bottom: 10% !important;
	    }
	    
	    .loginForm{
	    	margin-top: 15%;
	    }
	    
	    .pt-5, .py-5 {
		    padding-top: 3rem !important;
		}
	}
	
	/* Signup page */
	
	.signUpTitle{
		width: 100%;
   		padding-top: 5%;
	}
	
	.signUpTitle h3{
		color: blue;
	}
	
	.signupForm{
	    padding-left: 5%;
	}
	
	.require {
	  color: red;
	}	
	
	#name_error, #phone_error, .phone_error, #email_error, .email_error, #address_error, #signupPass_error, #retype_signupPass_error{
		color: red;
		position: inherit;
	}
	
	.rules{
		margin-top: 0.5rem !important;
	}
	
	.signupBtn{
		margin-top: 1rem !important;	
	}
	
	.signupBottom{
		display: flow-root; padding-bottom: 5%;
	}
	
	#login{
		color: aquamarine;
	}
	
	@media screen and (max-width: 768px) and (min-width: 360px)  {
	    .rules{
	    	margin-top: -5.5rem !important;
	    }
	    .signupForm {
	    padding-right: 5%;
	    }	   
	}
	