@charset "UTF-8";

	* {
		box-sizing: border-box;
	}
	
	body {
	  min-width: 576px; /* set the minimum width to 576 pixels */
	}
	
	/* Dashboard */
	#firstTable td {
	  width: 80%;
	}
	
	#secondTable td {
	  width: 25% !important;
	}
	
	.statisticsText p{
		font-size: 13px !important;
	}
	
	.statisticsText h5{
		font-size: 15px !important;
	}				
	
	/* Donation List page */
	.firstRow{
		position: relative;
   		margin-top: 2%;
	}
	.statistics{
		float: right;
		position: relative;
		right: 2%;
		color: blue;
	}
	.hideContent {
		overflow: hidden;
		line-height: 1em;
		height: 2em;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	.showContent {
		line-height: 1.5em;
		height: auto;
	}
	.show-more {
		padding: 10px 0;
		text-align: center;
	}
	#status {
		background: rgb(0, 255, 255);
	    border: 3px solid rgb(84, 73, 116);
	    width: 170px;
	    height: 40px;
	    font-size: medium;
	    position: relative;
	    right: 5%;
	}
	.searchbar{
		margin: 0;
		padding-left: 2%;
	}
	#searchStatus, #category {
		border: 1px solid #ccc;
		border-radius: 19px;
		height: 40px;
		width: 25%;
		margin: 5px;
		padding-left: 40px;
	}
	#searchButton {
		float: inherit;
		border-radius: 14px;
		height: 40px;
		margin-top: 1%;
	}
	option:checked {
		color: rgb(246, 250, 0);
		background-color: rgb(5, 26, 1);
	}
	.pageTitle{
    	padding-left: 2%;
    	margin: 0;
    	padding-bottom: 1%;
    	padding-top: 1%;
	}
	#clock{
	    right: 2%;
	    position: absolute;
	    top: 2%;
	}
	.functionBtn{
		width:11%;
	}
	#myTable{
    	margin-left: 2%;
    	table-layout: fixed;
    	width: 96%;
    	word-break:break-all;
    	zoom: 86%;
	}
	table td{
	    overflow: hidden;
    	text-overflow: ellipsis;
    	white-space: normal !important;
    	width: 100%;
	}
	#myInput{
		width: 27%;
    	height: 41px;
	}
	.deleteBtn{
	    position: relative;
    	margin-top: 1%;
   		width: 23%;
	}
	#ok_donation_del{
		margin-top: 4%;
	}
	#ok_user_del{
		margin-top: 4%;
	}
	#pageNavPosition{
		float: right;
	}
	.page{
		float: right;
		margin-right: 2%;
	}

	.btn-outline-info{
		width: 1%;
	}	
	
	/* Donation Form page */
	html {
	  font-family: "Montserrat";
	  scroll-behavior: smooth;
	}
	
	.thumbnail{
		width: 50%;
	}
	
	#sec-1 {
	  background-color: rgb(214, 228, 92);
	}
	
	#status_error, #title_error, #content_error{
		color: red;
		font-size: 15px;
	}
	
	#date1_error, #totalNeeded_error {
		color: red;
		width: 45%; 
		float: left; 
		font-size: 15px;
	} 
	
	#date2_error, #category_error {
		color: red;
		width: 45%; 
		float: right; 
		font-size: 15px;
	} 	
	
	.scroll-down {
	  height: 50px;
	  width: 30px;
	  border: 2px solid black;
	  position: absolute;
	  left: 50%;
	  bottom: 20px;
	  border-radius: 50px;
	  cursor: pointer;
	}
	.scroll-down::before,
	.scroll-down::after {
	  content: "";
	  position: absolute;
	  top: 20%;
	  left: 50%;
	  height: 10px;
	  width: 10px;
	  transform: translate(-50%, -100%) rotate(45deg);
	  border: 2px solid black;
	  border-top: transparent;
	  border-left: transparent;
	  animation: scroll-down 1s ease-in-out infinite;
	}
	.scroll-down::before {
	  top: 30%;
	  animation-delay: 0.3s;
	  /* animation: scroll-down 1s ease-in-out infinite; */
	}
	
	@keyframes scroll-down {
	  0% {
	    /* top:20%; */
	    opacity: 0;
	  }
	  30% {
	    opacity: 1;
	  }
	  60% {
	    opacity: 1;
	  }
	  100% {
	    top: 90%;
	    opacity: 0;
	  }
	}

	/* User List page */
	#searchRole{
		border: 1px solid #ccc;
		border-radius: 19px;
		height: 40px;
		width: 25%;
		margin: 5px;
		padding-left: 40px;
	}
	
	/* UserDonationList page */
	.tri-state-toggle {
	    background: rgba(0,0,0,0.8);
	    box-shadow: inset 0 2px 8px 0 rgba(165,170,174,0.25);
	    border-radius: 24px;
	    display: inline-block;
	    overflow: hidden;
	    display: inline-flex;
	    flex-direction: row;
	  	transition: all 500ms ease;
	  	width: 80%; 
	  	background-color: #eee;
	}
	
	.tri-state-toggle-button {
	    border-radius: 22px;
	    height: 44px;
	    display: flex;
	    align-items: center;
	    justify-content: center;
	    width: 64px;
	    background-color: transparent;
	    border: 0px solid transparent;
	    margin: 2px;
	    color: white;
	    cursor: pointer;
	  
	/*    -webkit-transition: all 0.5s ease-in-out;
	  -moz-transition:    all 0.5s ease-in-out;
	  -ms-transition:     all 0.5s ease-in-out;
	  -o-transition:      all 0.5s ease-in-out; */
	  transition:         all 0.5s ease;
	}
	
	.tri-state-toggle-button.active {
	    background-image: linear-gradient(
	                            90deg,
	                            rgba(229, 3, 87, 1) 0%,
	                            rgba(229, 3, 56, 1) 35%,
	                            rgba(219, 101, 17, 1) 100%
	                          );
	    border: 0px solid rgba(207,207,207,0.6);
	    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.1);
	    color: white;
	    font-weight: 500;
	  	transition: all .5s ease-in;
	}
	
	.tri-state-toggle-button:focus {
	  outline: none;
	}
	
	#statusNote{
		margin-left: 50%;
	    color: blue;
	}
	
	.UDLContent {
		padding-bottom: 5%;
	}
	
	#statusSwitch{
		text-align: center;
	}